<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera to scan documents.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to the microphone for video recording.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to save scanned documents to your photo library.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>camera</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
